$gray: rgb(66, 64, 67);
$darkGray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);

@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}

@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}

#about {
  min-height: 100vh;
  background: linear-gradient(-5deg, $gray 80%, $darkGray 20%);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(226, 226, 226);
  .about-heading {
    margin-top: .7%;
    margin-left: -2%;
    h1,
    h2,
    h3 {
      margin: 0;
      font-size: 45px;
      font-family: "mon600";
      transform: rotate(-5deg);
    }
    h1 {
      margin-left: -5px;
    }
    h3 {
      margin-top: 5px;
      color: $purple;
      margin-left: -10px;
    }
  }
  p {
    font-size: 18px;
    line-height: 27px;
    font-family: "mon300";
    margin: 100px 0 0 30px;
    width: 500px;
  }
}

@media screen and (max-width: 1100px) {
  .about-heading {
    margin-top: 5% !important;
    margin-left: -19%;
    h1,
    h2,
    h3 {
      font-size: 35px !important;
    }
    h1 {
      margin-left: -9px !important;
    }
    h3 {
      margin-top: 8px !important;
    }
  }
}

@media screen and (max-width: 900px) {
  .about-heading {
    margin-top: 5% !important;
  }
}

@media screen and (max-width: 780px) {
  .about-heading {
    margin-top: 7% !important;
  }
}

@media screen and (max-width: 680px) {
  .about-heading {
    margin-top: 8% !important;
  }
}

@media screen and (max-width: 600px) {
  #about {
    align-items: flex-start;
  }

  .about-heading {
    margin-top: 14% !important;
    margin-left: 3% !important;
    h1,
    h2,
    h3 {
      font-size: 30px !important;
    }
    h1 {
      margin-left: -7px !important;
    }
    h2 {
      margin-top: -2px !important;
    }
    h3 {
      margin-top: 3px !important;
    }
  }
}

@media screen and (max-width: 530px) {
  .about-heading {
    margin-top: 16% !important;
    margin-left: 5% !important;
  }
  #about {
    p {
      font-size: 18px;
      width: 95% !important;
      margin: 100px 0 0 2%;
    }
  }
}

@media screen and (max-width: 480px) {
  .about-heading {
    margin-top: 17% !important;
    h1,
    h2,
    h3 {
      font-size: 26px !important;
    }
  }
}

@media screen and (max-width: 440px) {
  .about-heading {
    margin-top: 26.5% !important;
  }
}
