$gray: rgb(60, 55, 62);
$darkDray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

// body {
//   background-color: $gray;
//   cursor: none !important;
// }

.custom-cursor {
  top: 30%;
  left: 20.050%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 2px solid $purple;
  // mix-blend-mode: difference;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: border, transform;
}

.mouse-over {
  border: 1px solid $purple;
  transform: scale(2) translate(-25%, -25%);
}

.cursor-dot {
  top: 30%;
  left: 20.0521%;
  position: fixed;
  background-color: $purple;
  // mix-blend-mode: difference;
  pointer-events: none;
  z-index: 101;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
