$gray: rgb(66, 64, 67);
$darkGray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}
@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}
@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}
@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}

@font-face {
  src: url(../fonts/KaushanScript-Regular.ttf);
  font-family: "kau";
}

@font-face {
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-family: "rob500";
}

@font-face {
  src: url(../fonts/new/Stanley.otf);
  font-family: "stan";
}

#home {
  height: calc(100vh);
  width: 100%;
  background-color: $darkGray;
  margin: 0;
  padding: 0;
  display: block;
  scroll-snap-align: start;
}

.intro-div {
  position: absolute;
  text-align: left;
  margin-left: 10%;
  margin-top: 30vh;
  #h1 {
    font-size: 60px;
    font-family: "mon500";
    color: white;
    opacity: 0.9;
    margin: 0;
  }
  p {
    font-size: 19px;
    color: rgb(226, 226, 226);
    margin-top: 10px;
    letter-spacing: 0px;
    font-family: "mon400";
    opacity: 0.9;
  }
}

#home {
  .social-media {
    margin: 0 16px 30px 0;
    bottom: 0;
    position: absolute;
    right: 0;
    a {
      margin: 0 1vw;
      img {
        width: 20px;
        margin-top: 20px;
        opacity: 0.8;
      }
      img:hover {
        transform: scale(1.2);
      }
    }
  }
}

#scroll-mention {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  text-align: center;
  h3 {
    margin: 0;
    color: white;
    opacity: 0.8;
    font-family: "mon200";
    height: 20px;
  }
  svg {
    margin: 5px 0 -3px 0;
    fill: $gray;
    opacity: 0.7;
    margin-bottom: 10px;
  }
}

@mixin responsive($width, $fsize, $psize, $h1) {
  @media screen and (max-width: $width) {
    #scroll-mention {
      font-size: 12px;
    }
    .intro-div {
      #h1 {
        font-size: $h1;
      }
      p {
        font-size: $psize;
      }
    }
  }
}

@include responsive(1010px, 35px, 18px, 55px);
@include responsive(850px, 29px, 16px, 45px);
@include responsive(650px, 24px, 15px, 40px);
