
@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon200";
}

@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}

@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}



@mixin responsive($width, $fsize, $psize, $h1) {
  @media screen and (max-width: $width) {
    .coding-img {
     display: none !important;
    }

    #scroll-mention {
      font-size: 12px !important;
    }
    .intro-div {
      #h1 {
        font-size: $h1 !important;
      }
      p {
        font-size: $psize !important;
      }
    }
  }
}

@include responsive(1010px, 35px, 18px, 55px);
@include responsive(850px, 29px, 16px, 45px);
@include responsive(650px, 24px, 15px, 40px)
