#top-container {
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.grunt {
  font-size: 300px;
  position: absolute;
  color: white;
}


@mixin responsive($width, $size, $fsize) {
  @media screen and (max-width: $width) {
    .name {
      font-size: $size;
    }
    .name::first-letter {
      font-size: $fsize;
    }
  }
}

@include responsive(1100px, 200px, 240px);
@include responsive(920px, 180px, 220px);
@include responsive(800px, 150px, 170);
@include responsive(650px, 140px, 155px);
@include responsive(570px, 120px, 140px);
@include responsive(430px, 90px, 120px);
@include responsive(370px, 70px, 95px);
@include responsive(300px, 50px, 70px);
