$gray: rgb(65, 60, 68);
$darkGray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

.line {
  position: absolute;
  width: 2px;
  height: 275%;
  background-color: $purple;
  left: 19.5%;
  top: 36.4%;
}

@mixin span($top, $bcolor) {
  border: 2px solid $purple;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  display: block;
  top: $top;
  left: -3.5px;
  background-color: $bcolor;
}

.span {
  @include span(-7px, $darkGray)
}

.span2 {
 @include span(68vh, $gray)
}

@media screen and (max-width: 1010px) {
  .line {
    top: 38.5%;
    left: 19.5%;
  }
}

@media screen and (max-width: 850px) {
  .line {
    top: 38.5%;
    left: 15%;
  }
}

@media screen and (max-width: 650px) {
  .line {
    top: 38.5%;
    left: 10%;
  }
}
