$gray: rgb(51, 47, 53);
$darkGray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

.line {
  position: absolute;
  width: 2px;
  height: calc(30vh);
  background-color: $purple;
  left: 49%;
  bottom: 0;
}

@mixin span($top, $bcolor) {
  border: 2px solid $purple;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  display: block;
  top: $top;
  left: -3.5px;
  background-color: $bcolor;
}

.span {
  @include span(-7px, $darkGray);
}
