$gray: rgb(66, 64, 67);
$darkDray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}
@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}
@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}
@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}
@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}
@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

#navbar {
  background-color: inherit;
}

#links {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: $darkDray;
  visibility: hidden;
  z-index: 1;
}

#logo {
  width: 170px;
  height: 100px;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  h1 {
    font-size: 20px;
    font-family: "mon500";
    letter-spacing: 3px;
    color: white;
  }
}

#sun {
  top: 0%;
  left: 0%;
  width: 140px;
  height: 100px;
  margin-left: 100px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  button {
    border-style: none;
    background-color: inherit;
    svg {
      background-color: inherit;
      fill: white;
      rect {
        opacity: 0.5;
      }
    }
  }
}

#bunBurger {
  z-index: 2;
  top: 0%;
  right: 0%;
  width: 100px;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    cursor: pointer;
    padding: 0;
    border-style: none;
    background-color: inherit;
    svg {
      background-color: inherit;
      fill: white;
      opacity: 0.7;
    }
  }
}

#nav-links {
  width: 70%;
  text-align: right;
  padding-left: 40px;
  ul {
    margin: 0;
    padding: 0;
    font-size: 7.4vw;
    list-style: none;
    letter-spacing: 3px;
    line-height: 0.9;
    font-family: "mon700";
  }
}

.link {
  text-decoration: none;
  color: white;
}

.bun-rect1 {
  transform: rotate(0);
}

.bun-rect2 {
  transform: rotate(0);
}

.bun-rect3 {
  transform: rotate(45deg);
}

.bun-rect4 {
  transform: rotate(-45deg);
}

@mixin responsive($width, $boxsize, $navw, $txtalign, $navp, $lisize) {
  @media screen and (max-width: $width) {
    #logo {
      width: 150px;
      height: $boxsize;
    }

    #sun {
      width: $boxsize;
      height: $boxsize;
      margin-left: 0;
      margin-top: 55px;
      margin-right: 3px;
      left: auto;
      right: 0% !important;
    }

    #bunBurger {
      width: $boxsize;
      height: $boxsize;
    }

    #nav-links {
      width: $navw;
      text-align: $txtalign;
      padding-right: $navp;
      ul {
        font-size: $lisize;
      }
    }
  }
}

@include responsive(1100px, 100px, 70%, right, 40px, 8vw);
@include responsive(1000px, 100px, 100%, right, 40px, 9vw);
@include responsive(850px, 100px, 100%, left, 40px, 10vw);
