@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}

@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}

@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}

@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}

@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}

@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}

@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}

@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

#navbar {
  background-color: inherit;
}

#links {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #2e2a2f;
  visibility: hidden;
  z-index: 1;
}

#logo {
  position: fixed;
  padding: 26px 0 0 26px;
  margin: 0;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

#logo h1 {
  opacity: .7;
  margin: 0;
  font-size: 20px;
  font-family: "mon500";
  letter-spacing: 3px;
  color: white;
}

#sun {
  top: 0%;
  left: 0%;
  width: 140px;
  padding-top: 20px;
  margin-left: 100px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.5;
}

#sun button {
  border-style: none;
  background-color: inherit;
}

#sun button svg {
  background-color: inherit;
  fill: white;
}

#sun button svg rect {
  opacity: 0.5;
}

#bunBurger {
  z-index: 2;
  top: 0%;
  right: 0%;
  padding: 16px 16px 0 0;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bunBurger button {
  padding: 0;
  border-style: none;
  background-color: inherit;
}

#bunBurger button svg {
  background-color: inherit;
  fill: white;
  opacity: 0.7;
}

.nav-links {
  width: 70%;
  text-align: right;
  padding-left: 40px;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  font-size: 7.4vw;
  list-style: none;
  letter-spacing: 3px;
  line-height: 0.9;
  font-family: "mon700";
}

.link {
  text-decoration: none;
  color: white;
}

.bun-rect1 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.bun-rect2 {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.bun-rect3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.bun-rect4 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 1100px) {
  #sun {
    margin-left: 0;
    margin-top: 55px;
    margin-right: 3px;
    left: auto;
    right: 0% !important;
  }
  #nav-links {
    width: 70%;
    text-align: right;
    padding-right: 40px;
  }
  #nav-links ul {
    font-size: 8vw;
  }
}

@media screen and (max-width: 1000px) {
  #sun {
    margin-left: 0;
    margin-top: 55px;
    margin-right: 3px;
    left: auto;
    right: 0% !important;
  }
  #nav-links {
    width: 100%;
    text-align: right;
    padding-right: 40px;
  }
  #nav-links ul {
    font-size: 9vw;
  }
}

@media screen and (max-width: 850px) {
  #sun {
    margin-left: 0;
    margin-top: 55px;
    margin-right: 3px;
    left: auto;
    right: 0% !important;
  }
  #nav-links {
    width: 100%;
    text-align: left;
    padding-right: 40px;
  }
  #nav-links ul {
    font-size: 10vw;
  }
}
/*# sourceMappingURL=navbar.css.map */