$purple: rgb(166, 135, 255);

.navbar {
  padding-right: 16px;
  position: fixed;
  top: 0;
  right: 0%;
  height: 44px;
  text-align: right;
}

.btn-burger,
.btn-sun {
  margin-top: 16px;
  background-color: inherit;
  border: none;
  height: 44px;
  width: 44px;
  fill: rgb(226, 226, 226);
  opacity: 0.8;
  &:focus {
    outline: 0 !important;
  }
  &:hover {
    fill: $purple !important;
  }
}

.svg-sun-ray {
  opacity: 0.5;
}

#links {
  display: none;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 255px;
  }
}

.link {
  text-align: right;
  width: 170px;
  height: 51px;
  line-height: 27px;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 217px;
    height: 406px;
    background-color: rgb(47, 47, 47);
    z-index: -1;
    top: 0;
  }
}

.a {
  padding: 12px 10px 12px 10px;
  text-decoration: none;
  color: rgb(226, 226, 226);
  letter-spacing: 0.5px;
  font-size: 18px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  border: none !important;
  &:hover {
    color: $purple !important;
  }
  &:after {
    content: "";
    position: absolute;
    margin-top: 13px;
    margin-left: 13px;
    width: 13px;
    border-bottom: 2px solid inherit;
  }
  &:hover::after {
    border-bottom: 2px solid $purple !important;
  }
}

.line {
  display: block;
  width: 159px;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 16px;
  background-color: $purple;
  border-radius: 20%;
}

.asf {
  font-size: 24px;
  margin: 2px;
  padding: 12px 8px;
  color: rgb(226, 226, 226);
}
