$gray: rgb(51, 47, 53);
$darkDray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);


@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}


#navbar {
  background-color: inherit;
}

#links {
  height: 380px;
  width: 217px;
  right: 0;
  position: fixed;
  visibility: hidden;
  z-index: 100;
  background-color: rgb(54, 49, 56);
  ul {
    height: 255px;
    width: 173.16px;
    font-size: 17px;
    list-style: none;
    font-family: "mon300";
    padding: 0;
    text-align: right;
    position: absolute;
    top: 70px;
    right: 15px;
    li {
      height: 51px;
      a {
        letter-spacing: 1px;
        padding: 12px 10px;
        text-decoration: none;
        color: white;
      }
      svg {
        position: absolute;
        fill: white;
        right: -23px;
        margin-top: 10px;
      }
      a:hover {
        color: $purple;
        svg {
          fill: $purple;
        }
      }
    }
    .active {
      a {
        color: $purple;
        svg {
          fill: $purple;
        }
      }
    }
  }
}

.nav-line {
  width: 164px;
  padding-top: 8px;
  margin: 0 0px 16px 0px;
  mix-blend-mode: none;
  border-bottom: 1px solid $purple;
}

#bun-sun {
  width: 96px;
  height: 44px;
  top: 0;
  right: 0;
  position: fixed;
  padding: 15px 15px 0px 0;
  z-index: 200;
  text-align: right;
}

#sun {
  opacity: 0.7;
  height: 40px;
  width: 40px;
  border-style: none;
  background-color: inherit;
  padding: 0;
  top: 0;
  position: absolute;
  display: block;
  top: 16px;
  right: 60px;
  svg {
    background-color: inherit;
    fill: white;
  }
}

#sun:hover {
  svg {
    fill: $purple;
  }
}

#bunBurger {
  opacity: 0.9;
  height: 40px;
  width: 40px;
  padding: 0;
  border-style: none;
  background-color: inherit;
  padding: 0;
  svg {
    background-color: inherit;
    fill: white;
    transform: all 0.3s ease;
  }
}

#bunBurger:hover {
  svg {
    fill: $purple;
  }
}

.bun-rect1 {
  transform: rotate(0);
}

.bun-rect2 {
  transform: rotate(0);
}

.bun-rect3 {
  transform: rotate(45deg);
}

.bun-rect4 {
  transform: rotate(-45deg);
}
