$gray: rgb(66, 64, 67);
$darkGray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);


@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}

@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}

@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}

.btn-skills {
  &:focus {
    outline: 0 !important;
  }
}
@mixin underline($color, $opacity) {
  &::before {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.5;
    width: 140px;
    height: 7px;
    margin-top: 15px;
    border-radius: 2px;
    z-index: -2;
    background-color: #adadad;
    opacity: $opacity;
  }
}

.btn1-skills {
  @include underline($purple, 0);
}

.btn2-skills {
  @include underline($blue, 0.5);
}

.btn3-skills {
  @include underline($yellow, 0.5);
}

.iamongit {
  &:hover {
    background-color: rgb(88, 80, 38);
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 81px;
    opacity: 0.2;
    height: 4px;
    margin-top: 15px;
    background-color: yellow;
  }
}

.skill-for-mobile {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1010px) {
  #skills {
    padding-top: 15vh;
  }
  .dots-list-container {
    display: none !important;
  }

  .skills-heading {
    height: 30vh;
  }

  .skills-name {
    font-size: 64px !important;
  }

  .skill-for-mobile {
    display: flex;
    visibility: visible;
    flex-direction: row;
    overflow-x: scroll;
    padding: 25px 0 25px 8vw;
    .skill-list-for-mobile {
      min-width: 220px;
      padding: 0;
      margin: 0 80px 0 0;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        h1 {
          color: white;
          font-family: "mon600";
          font-size: 25px;
          opacity: 0.8;
        }
        @mixin before($color) {
          &::after {
            content: "";
            position: relative;
            display: block;
            bottom: 10px;
            left: -5px;
            height: 13px;
            width: 220px;
            z-index: -1;
            background-color: $color;
            border-radius: 4px;
          }
        }
        .skill-mobile-h1 {
          @include before($purple);
        }

        .skill-mobile-h2 {
          @include before($blue);
        }

        .skill-mobile-h3 {
          @include before($yellow);
        }

        li {
          margin-bottom: 16px;
          font-size: 16px;
          font-family: "mon400";
          span {
            padding-left: 10px;
            color: white;
            opacity: 0.8;
          }
        }
      }
    }

    .skill-for-mobile::-webkit-scrollbar {
      visibility: hidden;
    }
    
    .shadow {
      height: 290px;
      width: 100px;
      position: absolute;
      z-index: 2;
      right: 0;
      pointer-events: none;
      background-image: linear-gradient(
        to left,
        rgb(46, 42, 47),
        rgba(46, 42, 47, 0)
      );
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
