#skills {
  background-color: inherit;
  padding-top: 100vh;
  z-index: 10;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

#skills #sub-skills {
  padding: 120px 0 40px 0;
  height: 100vh;
  background-color: #2f2f2f;
  display: block;
  position: absolute;
  overflow-y: hidden;
  width: 100%;
  z-index: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-heading {
  margin-top: 32px;
  text-align: center;
}

.skills-heading p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #adadad;
}

.skills-name {
  font-family: "Assistant", sans-serif;
  font-size: 100px;
  letter-spacing: 5px;
  color: #e2e2e2;
  margin: 0;
  font-weight: 500;
}

.dots-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-skills {
  position: relative;
  display: block;
  width: 140px;
  height: 37px;
  padding: 8px 0px;
  margin-bottom: 32px;
  font-size: 18px;
  color: #e2e2e2;
  border-style: none;
  background-color: inherit;
  text-align: center;
  border-radius: 3px;
}

.btn-skills:focus {
  outline: 0 !important;
}

.btn1-skills:hover {
  color: #9b78de;
}

.btn1-skills::before {
  content: "";
  display: block;
  position: absolute;
  opacity: 0.5;
  width: 140px;
  height: 7px;
  margin-top: 15px;
  border-radius: 2px;
  background-color: #adadad;
}

.btn2-skills:hover {
  color: #8ecfce;
}

.btn2-skills::before {
  content: "";
  display: block;
  position: absolute;
  opacity: 0.5;
  width: 140px;
  height: 7px;
  margin-top: 15px;
  border-radius: 2px;
  background-color: #adadad;
}

.btn3-skills:hover {
  color: #ebc44d;
}

.btn3-skills::before {
  content: "";
  display: block;
  position: absolute;
  opacity: 0.5;
  width: 140px;
  height: 7px;
  margin-top: 15px;
  border-radius: 2px;
  background-color: #adadad;
}

.dots-list1,
.dots-list2 {
  padding: 0;
  margin: 0;
  width: 370px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e2e2e2;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-skills-list {
  list-style: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.star {
  font-size: 14px;
  margin: 7px;
}

.iamongit {
  color: #e2e2e2;
  -webkit-text-decoration-color: #ebc44d;
          text-decoration-color: #ebc44d;
}

.iamongit:hover {
  background-color: #585026;
}

.iamongit::before {
  content: "";
  display: block;
  position: absolute;
  width: 81px;
  opacity: 0.2;
  height: 4px;
  margin-top: 15px;
  background-color: yellow;
}
/*# sourceMappingURL=skills.css.map */