@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}

@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}

@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}

@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}

@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}

@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}

@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}

@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

#skills {
  background-color: inherit;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  position: absolute;
  display: block;
  width: 100%;
}

#skills #sub-skills {
  padding-top: 70px;
  height: 100vh;
  width: 100vw;
  background-color: #2e2a2f;
  display: block;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-heading {
  padding-top: 10vh;
  text-align: center;
}

.skills-heading .skills-name {
  font-family: "mon700";
  font-size: 100px;
  letter-spacing: 5px;
  color: #e2e2e2;
  margin: 0;
}

.skills-heading p {
  font-size: 16px;
  font-family: "mon400";
  margin: 0;
  color: white;
  opacity: 0.5;
}

.dots-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-skills-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-skills {
  position: relative;
  display: block;
  width: 140px;
  height: 37px;
  padding: 8px 0px;
  margin-bottom: 32px;
  font-size: 18px;
  color: #e2e2e2;
  border-style: none;
  background-color: inherit;
  text-align: center;
  border-radius: 3px;
  font-family: "mon600";
  z-index: 2;
}

.btn-skills:focus {
  outline: 0 !important;
}

.btn1-skills:hover {
  color: #9b78de;
}

.btn1-skills::before {
  content: "";
  display: block;
  position: absolute;
  opacity: 0.5;
  width: 140px;
  height: 7px;
  margin-top: 15px;
  border-radius: 2px;
  z-index: -2;
  background-color: #adadad;
  opacity: 0;
}

.btn2-skills:hover {
  color: #52e9d0;
}

.btn2-skills::before {
  content: "";
  display: block;
  position: absolute;
  opacity: 0.5;
  width: 140px;
  height: 7px;
  margin-top: 15px;
  border-radius: 2px;
  z-index: -2;
  background-color: #adadad;
  opacity: 0.5;
}

.btn3-skills:hover {
  color: #dfb948;
}

.btn3-skills::before {
  content: "";
  display: block;
  position: absolute;
  opacity: 0.5;
  width: 140px;
  height: 7px;
  margin-top: 15px;
  border-radius: 2px;
  z-index: -2;
  background-color: #adadad;
  opacity: 0.5;
}

.dots-list1,
.dots-list2 {
  padding: 0;
  margin: 0;
  width: 370px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.sub-skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-skills-list {
  list-style: none;
  font-size: 16px;
  font-family: "Mon400";
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.star {
  font-size: 14px;
  margin: 7px;
}

.iamongit {
  color: #e2e2e2;
  -webkit-text-decoration-color: #ebc44d;
          text-decoration-color: #ebc44d;
}

.iamongit:hover {
  background-color: #585026;
}

.iamongit::before {
  content: "";
  display: block;
  position: absolute;
  width: 81px;
  opacity: 0.2;
  height: 4px;
  margin-top: 15px;
  background-color: yellow;
}

.skill-for-mobile {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1010px) {
  .dots-list-container {
    display: none;
  }
  .skills-name {
    font-size: 64px !important;
  }
  .skill-for-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: scroll;
    padding: 25px 0 25px 8vw;
  }
  .skill-for-mobile .skill-list-for-mobile {
    min-width: 220px;
    padding: 0;
    margin: 0 80px 0 0;
  }
  .skill-for-mobile .skill-list-for-mobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .skill-for-mobile .skill-list-for-mobile ul h1 {
    color: white;
    font-family: "mon600";
    font-size: 25px;
    opacity: 0.8;
  }
  .skill-for-mobile .skill-list-for-mobile ul .skill-mobile-h1::after {
    content: "";
    position: relative;
    display: block;
    bottom: 10px;
    left: -5px;
    height: 13px;
    width: 220px;
    z-index: -1;
    background-color: #9b78de;
    border-radius: 4px;
  }
  .skill-for-mobile .skill-list-for-mobile ul .skill-mobile-h2::after {
    content: "";
    position: relative;
    display: block;
    bottom: 10px;
    left: -5px;
    height: 13px;
    width: 220px;
    z-index: -1;
    background-color: #52e9d0;
    border-radius: 4px;
  }
  .skill-for-mobile .skill-list-for-mobile ul .skill-mobile-h3::after {
    content: "";
    position: relative;
    display: block;
    bottom: 10px;
    left: -5px;
    height: 13px;
    width: 220px;
    z-index: -1;
    background-color: #dfb948;
    border-radius: 4px;
  }
  .skill-for-mobile .skill-list-for-mobile ul li {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: "mon400";
  }
  .skill-for-mobile .skill-list-for-mobile ul li span {
    padding-left: 10px;
    color: white;
    opacity: 0.8;
  }
  .skill-for-mobile .shadow {
    height: 290px;
    width: 100px;
    position: absolute;
    z-index: 2;
    right: 0;
    pointer-events: none;
    background-image: -webkit-gradient(linear, right top, left top, from(#2e2a2f), to(rgba(46, 42, 47, 0)));
    background-image: linear-gradient(to left, #2e2a2f, rgba(46, 42, 47, 0));
    background-color: rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=skills.css.map */