$gray: rgb(65, 60, 68);
$darkDray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}
@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}
@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}
@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}
@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}
@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

@font-face {
  src: url(../fonts/new/Stanley.otf);
  font-family: "stan";
}


#skills {
  background-color: inherit;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  position: absolute;
  display: block;
  width: 100%;
  padding-top: 25vh;
  background-color: $darkDray;
  background: linear-gradient(7deg, $darkDray 85%, $gray 85%);
  #sub-skills {
    height: 100vh;
    width: 100vw;
    background-color: $darkDray;
    display: block;
    width: 100%;
    justify-content: center;
  }
}

.skills-heading {
  padding-top: 10vh;
  text-align: center;
  .skills-name {
    font-family: "mon600";
    font-size: 100px;
    letter-spacing: 5px;
    color: #e2e2e2;
    margin: 0;
    font-stretch: extra-expanded;
  }
  p {
    font-size: 16px;
    font-family: "mon400";
    margin: 0;
    color: white;
    opacity: 0.5;
  }
}

.dots-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-skills-list {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.btn-skills {
  position: relative;
  display: block;
  width: 140px;
  height: 37px;
  padding: 8px 0px;
  margin-bottom: 32px;
  font-size: 18px;
  color: #e2e2e2;
  border-style: none;
  background-color: inherit;
  text-align: center;
  border-radius: 3px;
  font-family: "mon600";
  z-index: 2;
  &:focus {
    outline: 0 !important;
  }
}
@mixin underline($color, $opacity) {
  &:hover {
    color: $color;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    opacity: 0.5;
    width: 140px;
    height: 7px;
    margin-top: 15px;
    border-radius: 2px;
    z-index: -2;
    background-color: #adadad;
    opacity: $opacity;
  }
}

.btn1-skills {
  @include underline($purple, 0);
}

.btn2-skills {
  @include underline($blue, 0.5);
}

.btn3-skills {
  @include underline($yellow, 0.5);
}

.dots-list1,
.dots-list2 {
  padding: 0;
  margin: 0;
  width: 370px;
  height: 280px;
  display: flex;
  list-style: none;
  justify-content: center;
  color: white;
}

.sub-skills-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sub-skills-list {
  list-style: none;
  font-size: 16px;
  font-family: "Mon400";
  padding: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.star {
  font-size: 14px;
  margin: 7px;
}

.iamongit {
  color: rgb(226, 226, 226);
  text-decoration-color: rgb(235, 196, 77);
  &:hover {
    background-color: rgb(88, 80, 38);
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 81px;
    opacity: 0.2;
    height: 4px;
    margin-top: 15px;
    background-color: yellow;
  }
}

.skill-for-mobile {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1010px) {
  .dots-list-container {
    display: none;
  }

  .skills-name {
    font-size: 64px !important;
  }

  .skill-for-mobile {
    display: flex;
    visibility: visible;
    flex-direction: row;
    overflow-x: scroll;
    padding: 25px 0 25px 8vw;
    .skill-list-for-mobile {
      min-width: 220px;
      padding: 0;
      margin: 0 80px 0 0;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        h1 {
          color: white;
          font-family: "mon600";
          font-size: 25px;
          opacity: 0.8;
        }
        @mixin before($color) {
          &::after {
            content: "";
            position: relative;
            display: block;
            bottom: 10px;
            left: -5px;
            height: 13px;
            width: 220px;
            z-index: -1;
            background-color: $color;
            border-radius: 4px;
          }
        }
        .skill-mobile-h1 {
          @include before($purple);
        }

        .skill-mobile-h2 {
          @include before($blue);
        }

        .skill-mobile-h3 {
          @include before($yellow);
        }

        li {
          margin-bottom: 16px;
          font-size: 16px;
          font-family: "mon400";
          span {
            padding-left: 10px;
            color: white;
            opacity: 0.8;
          }
        }
      }
    }
    .shadow {
      height: 290px;
      width: 100px;
      position: absolute;
      z-index: 2;
      right: 0;
      pointer-events: none;
      background-image: linear-gradient(
        to left,
        rgb(46, 42, 47),
        rgba(46, 42, 47, 0)
      );
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
@media screen and (max-width: 800px) {
  .skills-heading {
    padding-top: 50px;
    position: initial;
  }
}
