$gray: rgb(58, 53, 61);
$darkGray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}
@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}
@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}
@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}
@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}
@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

@font-face {
  src: url(../fonts/new/Stanley.otf);
  font-family: "stan";
}

#touch {
  height: 100vh;
  width: 100%;
  background: linear-gradient(-5deg, $gray 80%, $darkGray 20%);
  display: block;
  padding: 0;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
}

#sub-touch {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.touch-heading {
  font-family: "mon500";
  font-size: 40px;
  color: white;
  position: relative;
  opacity: 0.9;
  margin: 0;
  height: 60px;
  top: 9%;
  transform: rotate(-5deg);
}

.contact-heading {
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 0;
  margin: 0;
  div {
    margin: 45vh 0 0 20%;
    font-family: "mon500";
    color: white;
    h1 {
      font-size: 50px;
      margin: 0;
    }
    p {
      font-family: "mon400";
      font-size: 20px;
      margin-top: 10px;
    }
    span {
      font-size: 13px;
      font-family: "mon300";
      h3 {
        margin: 120px 0 0 0;
      }
      h4 {
        margin-top: 10px;
      }
    }
  }
}

.contact-form {
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
  margin: 0;
  div {
    margin: 45vh 0 0 0;
    form {
      .top-two {
        margin-bottom: 30px;
      }
      label {
        color: white;
        font-family: "mon300";
        margin-right: 35%;
        font-size: 15px;
      }
      input {
        border: none;
        background-color: inherit;
        border-bottom: 2px solid $purple;
        width: 37%;
        height: 30px;
        margin: 15px 35px 30px 0;
        font-size: 20px;
        color: white;
        padding-bottom: 17px;
        &:focus {
          outline: 0 !important;
          &::placeholder {
            visibility: hidden;
          }
        }
      }
      .message {
        width: calc(37% + 37% + 38px);
      }
      button {
        width: 100px;
        height: 40px;
        color: $gray;
        font-family: "mon400";
        font-size: 16px;
        background-color: $purple;
        transition: all 0.3s ease;
        border: none;
        padding: 0;
        border-radius: 50px;
        color: white;
        box-shadow: 0px 3px 5px 2px $darkGray;
        &:hover {
          color: white;
          transform: scale(1.2);
          background: linear-gradient(90deg, $yellow, $purple, $blue);
          animation: rotate 6s linear infinite;
        }
        @keyframes rotate {
          0% {
            filter: hue-rotate(0deg);
          }
          100% {
            filter: hue-rotate(360deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .contact-heading {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    div {
      margin: 0;
      position: absolute;
      width: 550px;
      bottom: 10vh;
      h1 {
        font-size: 50px;
        margin: 0 0 15px 0;
        right: 0;
      }
      p {
        font-family: "mon300";
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0;
        right: 0;
      }
      span {
        display: none;
      }
    }
  }

  .contact-form {
    width: 100%;
    height: 45vh;
    bottom: 0;
    display: flex;
    justify-content: center;
    div {
      margin: 0;
      width: 550px;

      form {
        margin: 0 10% 0 10%;
        display: flex;
        justify-content: center;
        div {
          label {
            margin-right: 239px;
          }
          .email-label {
            margin: 0;
          }
          position: absolute;
        }
        .input1 {
          width: 46%;
        }
        .input2 {
          margin-right: 0;
          width: 46%;
        }
        .message {
          margin-right: 0 !important;
          width: 99%;
        }
      }
    }
  }

  #sub-touch {
    height: 100vh;
    width: 100vw;
    position: absolute;
  }
}

@media screen and (max-width: 700px) {
  .contact-heading {
    div {
      width: 500px;
      h1 {
        font-size: 43px;
      }
      p {
        font-family: "mon300";
        font-size: 17px;
      }
    }
  }

  .contact-form {
    div {
      width: 500px;
      form {
        margin: 0 10% 0 10%;
        input {
          padding-bottom: 10px;
          margin-top: 10px;
        }
        div {
          label {
            margin-right: 222px;
            font-size: 13px;
          }
          .email-label {
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .contact-heading {
    div {
      width: 330px;
      bottom: 7vh;
      h1 {
        font-size: 35px;
      }
      p {
        font-family: "mon300";
        font-size: 14px;
      }
    }
  }

  .contact-form {
    div {
      width: 330px;
      form {
        input {
          height: 20px;
          font-size: 13px;
        }
        .input1 {
          margin-right: 22px;
          width: 150px;
        }
        .input2 {
          width: 150px;
        }
        .input3 {
          width: 323px;
        }
        margin: 0 10% 0 10%;
        div {
          label {
            margin-right: 147px;
            font-size: 11px;
          }
          .email-label {
            margin: 0;
          }
        }
      }
    }
  }
}
