@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}

@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}

@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}

@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}

@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}

@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}

@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}

@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

@font-face {
  src: url(../fonts/new/Stanley.otf);
  font-family: "stan";
}

#touch {
  height: 100vh;
  width: 100%;
  background-color: #424043;
  display: block;
  padding: 0;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sub-touch {
  height: 70vh;
  width: 100%;
  position: absolute;
}

.contact-heading {
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.contact-heading div {
  margin: 0;
  font-family: "mon500";
  color: white;
  position: absolute;
  width: 550px;
  bottom: 10vh;
  z-index: 1;
}

.contact-heading div h1 {
  font-size: 50px;
  margin: 0 0 10px 0;
  color: #9b78de;
}

.contact-heading div p {
  font-family: "mon400";
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0;
  right: 0;
}

.contact-heading::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 0;
  width: 650px;
  height: 380px;
  top: 13vh;
  background-color: #2e2a2f;
}

.contact-form {
  height: 40vh;
  margin: 0;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form form div {
  width: 550px;
}

.contact-form form .top-two {
  margin-bottom: 30px;
}

.contact-form form label {
  color: white;
  opacity: 0.9;
  font-family: "mon500";
  pointer-events: none;
  font-size: 15px;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-form form .input-div1,
.contact-form form .input-div2 {
  margin: 0;
  display: inline-block;
  width: 46%;
  position: relative;
}

.contact-form form .input-div1:focus-within .input-label1 {
  top: -20px;
  font-size: 11px;
  color: #9b78de;
}

.contact-form form .input-div2 {
  float: right;
}

.contact-form form .input-div2:focus-within .input-label2 {
  top: -20px;
  font-size: 11px;
  color: #9b78de;
}

.contact-form form .input-div3 {
  margin: 15px 0 0 0;
  position: relative;
}

.contact-form form .input-div3:focus-within .input-label3 {
  top: -10px;
  font-size: 11px;
  color: #9b78de;
}

.contact-form form input {
  border: none;
  border-bottom: 2px solid #9b78de;
  width: 37%;
  background-color: inherit;
  height: 30px;
  margin: 0;
  font-size: 20px;
  color: white;
  padding-bottom: 6px;
  width: 100%;
  border-radius: 0px !important;
}

.contact-form form input:focus {
  outline: 0 !important;
}

.contact-form form button {
  width: 120px;
  height: 37px;
  color: #424043;
  font-family: "mon600";
  font-size: 16px;
  background-color: #9b78de;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  padding: 0;
  border-radius: 4px;
  color: #2e2a2f;
  -webkit-box-shadow: 3px 4px 4px 0.5px #2e2a2f;
          box-shadow: 3px 4px 4px 0.5px #2e2a2f;
  margin-top: 1%;
}

.contact-form form button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .contact-heading div {
    width: 430px;
  }
  .contact-heading div h1 {
    font-size: 46px;
  }
  .contact-heading div p {
    font-family: "mon400";
    font-size: 19px;
  }
  .contact-heading::before {
    width: 480px;
    height: 320px;
    top: 13vh;
  }
  .contact-form {
    height: 45vh;
  }
  .contact-form form input {
    height: 20px;
    font-size: 13px;
  }
  .contact-form form .input-div1:focus-within .input-label1,
  .contact-form form .input-div1:focus-within .input-label2,
  .contact-form form .input-div1:focus-within .input-label3,
  .contact-form form .input-div2:focus-within .input-label1,
  .contact-form form .input-div2:focus-within .input-label2,
  .contact-form form .input-div2:focus-within .input-label3,
  .contact-form form .input-div3:focus-within .input-label1,
  .contact-form form .input-div3:focus-within .input-label2,
  .contact-form form .input-div3:focus-within .input-label3 {
    top: -15px;
    font-size: 11px;
  }
  .contact-form form input {
    padding-bottom: 10px;
  }
  .contact-form form div {
    width: 430px;
  }
  .contact-form form div label {
    font-size: 15px;
  }
}

@media screen and (max-width: 550px) {
  .contact-heading div {
    width: 330px;
  }
  .contact-heading div h1 {
    font-size: 38px;
  }
  .contact-heading div p {
    font-family: "mon400";
    font-size: 18px;
  }
  .contact-heading::before {
    width: 380px;
    height: 310px;
    top: 15.3vh;
  }
  .contact-form {
    height: 42vh;
  }
  .contact-form form input {
    height: 20px;
    font-size: 13px;
  }
  .contact-form form .input-div1:focus-within .input-label1,
  .contact-form form .input-div1:focus-within .input-label2,
  .contact-form form .input-div1:focus-within .input-label3,
  .contact-form form .input-div2:focus-within .input-label1,
  .contact-form form .input-div2:focus-within .input-label2,
  .contact-form form .input-div2:focus-within .input-label3,
  .contact-form form .input-div3:focus-within .input-label1,
  .contact-form form .input-div3:focus-within .input-label2,
  .contact-form form .input-div3:focus-within .input-label3 {
    top: -10px;
    font-size: 9px;
  }
  .contact-form form div {
    width: 330px;
  }
  .contact-form form div label {
    font-size: 14px;
  }
}

@media screen and (max-width: 440px) {
  .contact-heading div {
    width: 280px;
  }
  .contact-heading::before {
    width: 330px;
    height: 300px;
    top: 15.5vh;
  }
  .contact-form form button {
    width: 80px;
    font-size: 13px;
  }
  .contact-form form input {
    height: 20px;
    font-size: 13px;
  }
  .contact-form form div {
    width: 280px;
  }
  .contact-form form div label {
    font-size: 11px;
  }
}
/*# sourceMappingURL=touch.css.map */