$gray: rgb(66, 64, 67);
$darkGray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}
@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}
@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}
@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}
@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}
@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

@font-face {
  src: url(../fonts/new/Stanley.otf);
  font-family: "stan";
}

#touch {
  height: 95vh;
  width: 100%;
  background-color: $gray;
  display: block;
  padding: 0;
  scroll-snap-align: start;
  display: flex;
}

#sub-touch {
  height: 95vh;
  width: 100vw;
  position: absolute;
}

.contact-heading {
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  position: absolute;

  div {
    margin: 0;
    font-family: "mon500";
    color: white;
    position: absolute;
    width: 650px;
    bottom: 7vh;
    z-index: 1;
    h1 {
      font-size: 50px;
      margin: 0;
      color: $purple;
    }
    p {
      font-family: "mon400";
      font-size: 22px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    z-index: 0;
    width: 780px;
    height: 450px;
    top: 16vh;
    background-color: $darkGray;
  }
}

.contact-form {
  height: 60vh;
  margin: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  div {
    margin: 0;
    width: 650px;
    position: absolute;
    form {
      display: flex;
      justify-content: center;
      .top-two {
        margin-bottom: 30px;
      }

      label {
        color: white;
        opacity: 0.9;
        font-family: "mon500";
        pointer-events: none;
        font-size: 15px;
        position: absolute;
        left: 5px;
        transition: all 0.3s ease;
      }

      .input-div1,
      .input-div2 {
        margin: 0;
        display: inline !important;
        position: relative !important;
      }

      .input-div3 {
        margin: 0;
        position: relative !important;
      }

      .input-div1 {
        &:focus-within {
          .input-label1 {
            top: -20px;
            font-size: 11px;
            color: $purple;
          }
        }
      }

      .input-div2 {
        &:focus-within {
          .input-label2 {
            top: -20px;
            font-size: 11px;
            color: $purple;
          }
        }
      }

      .input-div3 {
        margin-top: 15px;
        &:focus-within {
          .input-label3 {
            top: -10px;
            font-size: 11px;
            color: $purple;
          }
        }
      }

      input {
        border: none;
        border-bottom: 2px solid $purple;
        width: 37%;
        background-color: inherit;
        height: 30px;
        margin: 0px 35px 30px 0;
        font-size: 20px;
        color: white;
        padding-bottom: 6px;
        border-radius: 0px !important;
      }

      input:focus {
        outline: 0 !important;
      }

      .message {
        width: 99%;
      }
      .input1,
      .input2 {
        width: 46.6%;
      }
      .input2 {
        margin: 0 !important;
      }

      button {
        width: 120px;
        height: 37px;
        color: $gray;
        font-family: "mon600";
        font-size: 16px;
        background-color: $purple;
        transition: all 0.3s ease;
        border: none;
        padding: 0;
        border-radius: 4px;
        color: $darkGray;
        box-shadow: 3px 4px 4px 0.5px $darkGray;
        &:hover {
          color: $darkGray;
          transform: scale(1.2);
          // background: linear-gradient(90deg, $yellow, $purple, $blue);
          // animation: rotate 6s linear infinite;
        }
        @keyframes rotate {
          0% {
            filter: hue-rotate(0deg);
          }
          100% {
            filter: hue-rotate(360deg);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .contact-heading {
    height: 30vh;
    div {
      width: 550px;
      bottom: 10vh;
      h1 {
        margin: 0 0 10px 0 !important;
      }
      p {
        font-family: "mon400";
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0;
        right: 0;
      }
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 0;
      width: 650px;
      height: 380px;
      top: 13vh;
      background-color: $darkGray;
    }
  }

  .contact-form {
    margin-bottom: 20vh;
    height: 40vh;
    div {
      width: 550px;
      .input-div1,
      .input-div2 {
        margin: 0;
        display: inline;
      }
      form {
        margin: 0 10% 0 10%;
        input {
          border-bottom: 2px solid $purple;
        }
        div {
          position: absolute;
        }
        .input1 {
          width: 46%;
        }
        .input2 {
          width: 46%;
        }
        .message {
          margin-right: 0 !important;
          width: 99%;
        }
      }
    }
  }
  #touch {
    height: 85vh;
  }

  #sub-touch {
    height: 85vh;
  }
}

@media screen and (max-width: 700px) {
  .contact-heading {
    div {
      width: 430px;
      h1 {
        font-size: 46px;
      }
      p {
        font-family: "mon400";
        font-size: 19px;
      }
    }
     &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 0;
      width: 530px;
      height: 350px;
      top: 13vh;
      background-color: $darkGray;
    }
  }

  .contact-form {
    div {
      width: 430px;
      form {
        input {
          height: 20px;
          font-size: 13px;
          &::placeholder {
            font-family: "mon500";
            font-size: 13px;
          }
        }
        .input-div1 {
          &:focus-within {
            .input-label1 {
              top: -15px;
              font-size: 11px;
            }
          }
        }

        .input-div2 {
          &:focus-within {
            .input-label2 {
              top: -15px;
              font-size: 11px;
            }
          }
        }

        .input-div3 {
          margin-top: 0px;
          &:focus-within {
            .input-label3 {
              font-size: 11px;
            }
          }
        }
        .input1 {
          margin-right: 22px;
          width: 200px;
        }
        .input2 {
          width: 200px;
        }
        .input3 {
          width: 423px;
        }
        margin: 0 10% 0 10%;
        input {
          padding-bottom: 10px;
          margin-top: 0px;
        }
        div {
          label {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .contact-heading {
    div {
      width: 330px;
      bottom: 7vh;
      h1 {
        font-size: 38px;
      }
      p {
        font-family: "mon400";
        font-size: 18px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 0;
      width: 420px;
      height: 350px;
      top: 15.3vh;
      background-color: $darkGray;
    }
  }

  .contact-form {
    div {
      width: 330px;
      form {
        input {
          height: 20px;
          font-size: 13px;
          &::placeholder {
            font-family: "mon500";
            font-size: 12px;
          }
        }
        .input1 {
          margin-right: 22px;
          width: 150px;
        }
        .input2 {
          width: 150px;
        }
        .input-div1 {
          &:focus-within {
            .input-label1 {
              top: -10px;
              font-size: 9px;
            }
          }
        }

        .input-div2 {
          &:focus-within {
            .input-label2 {
              top: -10px;
              font-size: 9px;
            }
          }
        }

        .input-div3 {
          margin-top: 0px;
          &:focus-within {
            .input-label3 {
              font-size: 9px;
            }
          }
        }

        .input3 {
          width: 323px;
        }
        margin: 0 10% 0 10%;
        div {
          label {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .contact-heading {
    div {
      width: 300px;
      bottom: 7vh;
    }
    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 0;
      width: 370px;
      height: 350px;
      top: 15.5vh;
      background-color: $darkGray;
    }
  }

  .contact-form {
    div {
      width: 300px;
      form {
        button {
          width: 80px;
          font-size: 13px;
        }
        input {
          height: 20px;
          font-size: 13px;
          &::placeholder {
            font-family: "mon500";
            font-size: 12px;
          }
        }
        .input1 {
          margin-right: 23px;
          width: 125.5px;
        }
        .input2 {
          width: 125.5px;
        }
        .input3 {
          width: 275px;
        }
        div {
          label {
            font-size: 11px;
          }
        }
      }
    }
  }
}
