$gray: rgb(66, 64, 67);
$darkGray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}
@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}
@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}
@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}
@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}
@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

@font-face {
  src: url(../fonts/new/Stanley.otf);
  font-family: "stan";
}

#touch {
  height: 100vh;
  width: 100%;
  background-color: $gray;
  display: block;
  padding: 0;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
}

#sub-touch {
  height: 70vh;
  width: 100%;
  position: absolute;
}
.contact-heading {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  position: absolute;
  div {
    margin: 0;
    font-family: "mon500";
    color: white;
    position: absolute;
    width: 550px;
    bottom: 10vh;
    z-index: 1;
    h1 {
      font-size: 50px;
      margin: 0 0 10px 0;
      color: $purple;
    }
    p {
      font-family: "mon400";
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 0;
      right: 0;
    }
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    z-index: 0;
    width: 650px;
    height: 380px;
    top: 13vh;
    background-color: $darkGray;
  }
}

.contact-form {
  height: 40vh;
  margin: 0;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  form {
    display: flex;
    justify-content: center;
    div {
      width: 550px;
    }
    .top-two {
      margin-bottom: 30px;
    }

    label {
      color: white;
      opacity: 0.9;
      font-family: "mon500";
      pointer-events: none;
      font-size: 15px;
      position: absolute;
      transition: all 0.3s ease;
    }

    .input-div1,
    .input-div2 {
      margin: 0;
      display: inline-block;
      width: 46%;
      position: relative;
    }

    .input-div1 {
      &:focus-within {
        .input-label1 {
          top: -20px;
          font-size: 11px;
          color: $purple;
        }
      }
    }

    .input-div2 {
      float: right;
      &:focus-within {
        .input-label2 {
          top: -20px;
          font-size: 11px;
          color: $purple;
        }
      }
    }

    .input-div3 {
      margin: 15px 0 0 0;
      position: relative;
      &:focus-within {
        .input-label3 {
          top: -10px;
          font-size: 11px;
          color: $purple;
        }
      }
    }

    input {
      border: none;
      border-bottom: 2px solid $purple;
      width: 37%;
      background-color: inherit;
      height: 30px;
      margin: 0;
      font-size: 20px;
      color: white;
      padding-bottom: 6px;
      width: 100%;
      border-radius: 0px !important;
    }

    input:focus {
      outline: 0 !important;
    }

    button {
      width: 120px;
      height: 37px;
      color: $gray;
      font-family: "mon600";
      font-size: 16px;
      background-color: $purple;
      transition: all 0.3s ease;
      border: none;
      padding: 0;
      border-radius: 4px;
      color: $darkGray;
      box-shadow: 3px 4px 4px 0.5px $darkGray;
      margin-top: 1%;
      &:hover {
        transform: scale(1.2);
        // background: linear-gradient(90deg, $yellow, $purple, $blue);
        // animation: rotate 6s linear infinite;
      }
      @keyframes rotate {
        0% {
          filter: hue-rotate(0deg);
        }
        100% {
          filter: hue-rotate(360deg);
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .contact-heading {
    div {
      width: 430px;
      h1 {
        font-size: 46px;
      }
      p {
        font-family: "mon400";
        font-size: 19px;
      }
    }
    &::before {
      width: 480px;
      height: 320px;
      top: 13vh;
    }
  }

  .contact-form {
    height: 45vh;
    form {
      input {
        height: 20px;
        font-size: 13px;
      }
      .input-div1,
      .input-div2,
      .input-div3 {
        &:focus-within {
          .input-label1,
          .input-label2,
          .input-label3 {
            top: -15px;
            font-size: 11px;
          }
        }
      }

      input {
        padding-bottom: 10px;
      }
      div {
        width: 430px;
        label {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .contact-heading {
    div {
      width: 330px;
      h1 {
        font-size: 38px;
      }
      p {
        font-family: "mon400";
        font-size: 18px;
      }
    }
    &::before {
      width: 380px;
      height: 310px;
      top: 15.3vh;
    }
  }

  .contact-form {
    height: 42vh;
    form {
      input {
        height: 20px;
        font-size: 13px;
      }

      .input-div1,
      .input-div2,
      .input-div3 {
        &:focus-within {
          .input-label1,
          .input-label2,
          .input-label3 {
            top: -10px;
            font-size: 9px;
          }
        }
      }

      div {
        width: 330px;
        label {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .contact-heading {
    div {
      width: 280px;
    }
    &::before {
      width: 330px;
      height: 300px;
      top: 15.5vh;
    }
  }

  .contact-form {
    form {
      button {
        width: 80px;
        font-size: 13px;
      }
      input {
        height: 20px;
        font-size: 13px;
      }
      div {
        width: 280px;
        label {
          font-size: 11px;
        }
      }
    }
  }
}
