@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}

@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}

@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}

@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}

@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}

@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}

@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}

@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

@font-face {
  src: url(../fonts/new/Stanley.otf);
  font-family: "stan";
}

#touch {
  height: 100vh;
  width: 100%;
  background: linear-gradient(-5deg, #3a353d 80%, #2e2a2f 20%);
  display: block;
  padding: 0;
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sub-touch {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.contact-heading {
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 0;
  margin: 0;
}

.contact-heading div {
  margin: 38vh 0 0 25%;
  font-family: "mon500";
  color: white;
}

.contact-heading div h1 {
  font-size: 50px;
  margin: 0;
}

.contact-heading div p {
  font-family: "mon400";
  font-size: 22px;
  margin-top: 20px;
}

.contact-form {
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
  margin: 0;
}

.contact-form div {
  margin: 48vh 0 0 0;
}

.contact-form div form .top-two {
  margin-bottom: 30px;
}

.contact-form div form label {
  color: white;
  opacity: 0.9;
  font-family: "mon500";
  pointer-events: none;
  font-size: 15px;
  position: absolute;
  left: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-form div form .input-div1,
.contact-form div form .input-div2 {
  margin: 0;
  display: inline !important;
  position: relative !important;
}

.contact-form div form .input-div3 {
  margin: 0;
  position: relative !important;
}

.contact-form div form .input-div1:focus-within .input-label1 {
  top: -20px;
  font-size: 11px;
  color: #9b78de;
}

.contact-form div form .input-div2:focus-within .input-label2 {
  top: -20px;
  font-size: 11px;
  color: #9b78de;
}

.contact-form div form .input-div3:focus-within .input-label3 {
  top: -10px;
  font-size: 11px;
  color: #9b78de;
}

.contact-form div form input {
  border: none;
  border-bottom: 3px solid #9b78de;
  width: 37%;
  background-color: inherit;
  height: 30px;
  margin: 0px 35px 30px 0;
  font-size: 20px;
  color: white;
  padding-bottom: 6px;
}

.contact-form div form input:focus {
  outline: 0 !important;
}

.contact-form div form .input1:focus ~ .input-label1,
.contact-form div form .input1:valid ~ .input-label1 {
  top: 0 !important;
}

.contact-form div form .message {
  width: calc(37% + 37% + 38px);
}

.contact-form div form button {
  width: 100px;
  height: 40px;
  color: #3a353d;
  font-family: "mon600";
  font-size: 16px;
  background-color: #9b78de;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none;
  padding: 0;
  border-radius: 4px;
  color: #2e2a2f;
  -webkit-box-shadow: 3px 4px 4px 0.5px #2e2a2f;
          box-shadow: 3px 4px 4px 0.5px #2e2a2f;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.contact-form div form button:hover {
  color: #2e2a2f;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 950px) {
  .contact-heading {
    width: 100%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-heading div {
    margin: 0;
    position: absolute;
    width: 550px;
    bottom: 10vh;
  }
  .contact-heading div img {
    display: none;
  }
  .contact-heading div h1 {
    font-size: 50px;
    margin: 0 0 15px 0;
    right: 0;
    margin: 0 0 10px 0 !important;
  }
  .contact-heading div p {
    font-family: "mon400";
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0;
    right: 0;
  }
  .contact-form {
    width: 100%;
    height: 50vh;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-form div {
    margin: 0;
    width: 550px;
  }
  .contact-form div .input-div1,
  .contact-form div .input-div2 {
    margin: 0;
    display: inline;
  }
  .contact-form div form {
    margin: 0 10% 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-form div form input {
    border-bottom: 2px solid #9b78de;
  }
  .contact-form div form div {
    position: absolute;
  }
  .contact-form div form .input1 {
    width: 46%;
  }
  .contact-form div form .input2 {
    margin-right: 0;
    width: 46%;
  }
  .contact-form div form .message {
    margin-right: 0 !important;
    width: 99%;
  }
  #sub-touch {
    height: 100vh;
    width: 100vw;
    position: absolute;
  }
}

@media screen and (max-width: 700px) {
  .contact-heading div {
    width: 430px;
  }
  .contact-heading div h1 {
    font-size: 43px;
  }
  .contact-heading div p {
    font-family: "mon400";
    font-size: 17px;
  }
  .contact-form div {
    width: 430px;
  }
  .contact-form div form {
    margin: 0 10% 0 10%;
  }
  .contact-form div form input {
    height: 20px;
    font-size: 13px;
  }
  .contact-form div form input::-webkit-input-placeholder {
    font-family: "mon500";
    font-size: 13px;
  }
  .contact-form div form input:-ms-input-placeholder {
    font-family: "mon500";
    font-size: 13px;
  }
  .contact-form div form input::-ms-input-placeholder {
    font-family: "mon500";
    font-size: 13px;
  }
  .contact-form div form input::placeholder {
    font-family: "mon500";
    font-size: 13px;
  }
  .contact-form div form .input-div1:focus-within .input-label1 {
    top: -15px;
    font-size: 10px;
  }
  .contact-form div form .input-div2:focus-within .input-label2 {
    top: -15px;
    font-size: 10px;
  }
  .contact-form div form .input-div3:focus-within .input-label3 {
    font-size: 10px;
  }
  .contact-form div form .input1 {
    margin-right: 22px;
    width: 200px;
  }
  .contact-form div form .input2 {
    width: 200px;
  }
  .contact-form div form .input3 {
    width: 423px;
  }
  .contact-form div form input {
    padding-bottom: 10px;
    margin-top: 0px;
  }
  .contact-form div form div label {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .contact-heading div {
    width: 330px;
    bottom: 7vh;
  }
  .contact-heading div h1 {
    font-size: 30px;
  }
  .contact-heading div p {
    font-family: "mon400";
    font-size: 15px;
  }
  .contact-form div {
    width: 330px;
  }
  .contact-form div form {
    margin: 0 10% 0 10%;
  }
  .contact-form div form input {
    height: 20px;
    font-size: 13px;
  }
  .contact-form div form input::-webkit-input-placeholder {
    font-family: "mon500";
    font-size: 12px;
  }
  .contact-form div form input:-ms-input-placeholder {
    font-family: "mon500";
    font-size: 12px;
  }
  .contact-form div form input::-ms-input-placeholder {
    font-family: "mon500";
    font-size: 12px;
  }
  .contact-form div form input::placeholder {
    font-family: "mon500";
    font-size: 12px;
  }
  .contact-form div form .input1 {
    margin-right: 22px;
    width: 150px;
  }
  .contact-form div form .input2 {
    width: 150px;
  }
  .contact-form div form .input-div1:focus-within .input-label1 {
    top: -10px;
    font-size: 9px;
  }
  .contact-form div form .input-div2:focus-within .input-label2 {
    top: -10px;
    font-size: 9px;
  }
  .contact-form div form .input-div3:focus-within .input-label3 {
    font-size: 9px;
  }
  .contact-form div form .input3 {
    width: 323px;
  }
  .contact-form div form div label {
    font-size: 13px;
  }
}

@media screen and (max-width: 440px) {
  .contact-heading div {
    width: 300px;
    bottom: 7vh;
  }
  .contact-form div {
    width: 300px;
  }
  .contact-form div form {
    margin: 0 10% 0 10%;
  }
  .contact-form div form button {
    width: 80px;
    font-size: 13px;
  }
  .contact-form div form input {
    height: 20px;
    font-size: 13px;
  }
  .contact-form div form input::-webkit-input-placeholder {
    font-family: "mon500";
    font-size: 12px;
  }
  .contact-form div form input:-ms-input-placeholder {
    font-family: "mon500";
    font-size: 12px;
  }
  .contact-form div form input::-ms-input-placeholder {
    font-family: "mon500";
    font-size: 12px;
  }
  .contact-form div form input::placeholder {
    font-family: "mon500";
    font-size: 12px;
  }
  .contact-form div form .input1 {
    margin-right: 23px;
    width: 120px;
  }
  .contact-form div form .input2 {
    width: 120px;
  }
  .contact-form div form .input3 {
    width: 275px;
  }
  .contact-form div form div label {
    font-size: 11px;
  }
}
/*# sourceMappingURL=touch.css.map */