$gray: rgb(58, 53, 61);
$darkGray: rgb(42, 38, 44);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}
@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}
@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}
@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}
@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}
@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

@font-face {
  src: url(../fonts/new/empty.otf);
  font-family: "empty";
}

@font-face {
  src: url(../fonts/new/Stanley.otf);
  font-family: "stan";
}

@font-face {
  src: url(../fonts/new/MADE.otf);
  font-family: "made";
}

#work {
  height: 100vh;
  background: $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  .work-heading {
    top: 102vh;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    h2 {
      color: white;
      font-family: "empty";
      font-size: 130px;
      opacity: 0.4;
      pointer-events: none;
      margin: 0;
      margin-top: 3px;
      margin-left: 3.4vw;
    }
  }
}

.frame {
  position: absolute;
  height: 91vh;
  width: 95%;
  border: 5px solid rgb(46, 42, 47);
  pointer-events: none;
}

#ios-project {
  height: 100vh;
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#ios-project::-webkit-scrollbar {
  visibility: hidden;
}

.ios-img-div {
  margin: 0 23vh;
  position: relative;
  z-index: 1;
  div {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkGray;
    border-radius: 1%;
    .ios-img {
      width: 180px;
    }
  }
  a {
    text-decoration: none;
  }
}

.cover-work {
  height: 780px;
  width: 700px;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  h1 {
    text-align: right;
    font-size: 230px;
    margin: 0;
    z-index: 2;
    letter-spacing: -10px;
    color: white;
    height: 211px;
    opacity: 0.9;
  }
  h2 {
    margin: 0;
    font-family: "mon600";
    font-size: 24px;
    color: white;
    opacity: 0.9;
    margin-left: 30px;
  }
  span {
    transform: rotate(-90deg);
    color: white;
    fill: white;
    opacity: 0.9;
    h3 {
      transform: rotate(-90deg);
      display: inline-block;
      margin-top: 135px;
      margin-left: 0px;
      svg {
        opacity: 0.8;
      }
    }
  }
}

.cal {
  padding-left: calc(50vw - 250px - 25vh);
}

.quiz {
  padding-right: calc(50vw - 250px);
}

.shadow-work1 ,  .shadow-work2 {
  height: 100vh;
  width: 30px;
  position: absolute;
  z-index: 2;
  right: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to left,
    rgb(46, 42, 47),
    rgba(46, 42, 47, 0)
  );
  background-color: rgba(0, 0, 0, 0);
}

.shadow-work2 {
  left: 0;
  background-image: linear-gradient(
    to right,
    rgb(46, 42, 47),
    rgba(46, 42, 47, 0)
  );
}

//-------> media

@media screen and (max-width: 950px) {
  .work-heading {
    height: 25vh;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 64px !important;
      margin: 0 !important;
      font-family: "mon600" !important;
    }
  }

  #ios-project {
    display: flex;
    align-items: flex-end;
  }
  .frame {
    width: 93%;
  }
  .ios-img-div {
    margin: 0 9% 50px 9%;
    div {
      width: 450px;
      height: 60vh;
      .ios-img {
        width: 140px;
      }
    }
  }
  .cover-work {
    height: 480px;
    width: 560px;
    h1 {
      font-size: 150px;
      margin: 0;
      letter-spacing: -10px;
      height: 211px;
      margin-top: 20px;
    }
    h2 {
      margin: 0;
      font-size: 19px;
      margin-left: 0px;
      font-family: "mon400";
    }
    span {
      h3 {
        margin-top: 105px;
        margin-left: -15px;
        font-size: 16px;
        font-weight: 200;
      }
    }
  }
  .cal {
    margin-left: 0 !important;
    padding-left: calc(50vw - 225px);
  }
  .quiz {
    padding-right: calc(50vw - 225px);
  }
}
@media screen and (max-width: 830px) {
  .work-heading {
    height: 25vh;
  }
  .frame {
    width: 92%;
  }
  .ios-img-div {
    margin: 0 8% 50px 8%;
    margin-bottom: 50px;
    div {
      width: 400px;
      height: 400px;
      .ios-img {
        width: 130px;
      }
    }
  }
  .cover-work {
    height: 400px;
    width: 500px;
    h1 {
      font-size: 130px;
      margin: 16px 0px 0 0;
      height: 200px;
    }
    h2 {
      margin: 0;
      font-size: 16px;
      margin-left: 3px;
    }
    span {
      h3 {
        margin-top: 90px;
        margin-left: -10px;
        font-size: 13px;
        font-weight: 200;
        svg {
          width: 50px;
          margin-right: 10px;
          margin-top: 5px;
        }
      }
    }
  }
  .cal {
    padding-left: calc(50vw - 200px);
  }
  .quiz {
    padding-right: calc(50vw - 200px);
  }
}

@media screen and (max-width: 750px) {
  .work-heading {
    height: 26vh;
  }

  .frame {
    width: 90%;
  }
  .ios-img-div {
    margin: 0 7% 50px 7%;
    div {
      width: 390px;
      height: 420px;
      .ios-img {
        width: 120px;
      }
    }
  }
  .cover-work {
    height: 430px;
    width: 450px;
    h1 {
      font-size: 110px;
      height: 150px;
      margin-right: -29px;
    }
  }
  .cal {
    padding-left: calc(50vw - 175px);
  }
  .quiz {
    padding-right: calc(50vw - 175px);
  }
}

@media screen and (max-width: 600px) {
  .work-heading {
    height: 28vh;
  }

  .frame {
    width: 90%;
  }
  .ios-img-div {
    margin: 0 6.5% 50px 6.5%;
    margin-bottom: 50px;
    div {
      width: 300px;
      height: 350px;
    }
  }
  .cover-work {
    height: 370px;
    width: 400px;
    h1 {
      height: 150px;
      margin-top: 55px;
      margin-right: 15px;
    }
  }
  .cal {
    padding-left: calc(50vw - 150px);
  }
  .quiz {
    padding-right: calc(50vw - 150px);
  }
}

@media screen and (max-width: 500px) {
  .work-heading {
    height: 28vh;
  }

  .frame {
    width: 90%;
  }
  .ios-img-div {
    margin: 0 5.5% 50px 5.5%;
    margin-bottom: 50px;
    div {
      width: 250px;
      height: 300px;
      .ios-img {
        width: 100px;
      }
    }
  }
  .cover-work {
    height: 250px;
    width: 350px;
    h1 {
      height: 150px;
      margin-right: 20px;
      margin-top: 40px;
      font-size: 90px;
    }
  }
  .cal {
    padding-left: calc(50vw - 125px);
  }
  .quiz {
    padding-right: calc(50vw - 125px);
  }
}
