$gray: rgb(65, 60, 68);
$darkDray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);
$blue: rgb(82, 233, 208);
$yellow: rgb(223, 185, 72);

@font-face {
  src: url(../fonts/Montserrat-Thin.ttf);
  font-family: "mon100";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-family: "mon200";
}
@font-face {
  src: url(../fonts/Montserrat-Light.ttf);
  font-family: "mon300";
}
@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}
@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}
@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}
@font-face {
  src: url(../fonts/Montserrat-Bold.ttf);
  font-family: "mon700";
}
@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: "mon800";
}

@font-face {
  src: url(../fonts/Montserrat-Black.ttf);
  font-family: "mon900";
}

#work {
  height: 100vh;
  background-color: $gray;
  display: flex;
  align-items: center;
  // h2 {
  //   right: 0;
  //   position: absolute;
  //   color: rgb(83, 76, 86);
  //   font-family: "mon900";
  //   font-size: 250px;
  //   margin: 0px 5px 0 0;
  //   pointer-events: none;
  //   z-index: 0;
  // }
}

#ios-project {
  height: 74vh;
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

#ios-project::-webkit-scrollbar {
  visibility: hidden;
}

.ios-img-div {
  display: inline-block;
  z-index: 3;
  margin: 0 20vh;
  .ios-img {
    width: 230px;
  }
  a {
    text-decoration: none;
  }
  span {
    color: white;
    font-family: "mon500";
    position: relative;
    z-index: 4;
    bottom: -400px;
    left: -70px;
    h1 {
      font-size: 22px;
      margin: 0;
    }
    svg {
      height: 3px;
      width: 150px;
      fill: white;
    }
    p {
      margin: 0;
    }
  }
}

@mixin before($bottom, $left) {
  span {
    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 510px;
      width: 200px;
      z-index: 1;
      border-radius: 20px;
      bottom: -100px;
      right: -50px;
      background-image: linear-gradient(65deg, $gray, transparent 45%);
    }
  }
}

@mixin faded($opacity) {
  &::before {
    content: "";
    width: 225px;
    top: 5px;
    height: 485px;
    left: 2px;
    background-color: $gray;
    opacity: $opacity;
    border-radius: 20px;
  }
}

.cal {
  @include before(13.5px, 2px);
  // @include faded(0.1);
}

.bmi {
  @include before(16.5px, 2px);
  // @include faded(0.2);
}

.chat {
  z-index: 5;
  img {
    width: 235px !important;
  }
  @include before(14.5px, 2px);
  // @include faded(0.2);
}

.weather {
  img {
    width: 240px !important;
  }
  @include before(17.8px, 2px);
  // @include faded(0.1);
}

.quiz {
  @include before(12.5px, 2px);
  // @include faded(0.1);
}

//-------> media
