$gray: rgb(66, 64, 67);
$darkGray: rgb(46, 42, 47);
$purple: rgb(155, 120, 222);

@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: "mon400";
}
@font-face {
  src: url(../fonts/Montserrat-Medium.ttf);
  font-family: "mon500";
}
@font-face {
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-family: "mon600";
}


#work {
  height: 100vh;
  background: $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  .work-heading {
    top: 109vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 2;
    left: 25vw;
    pointer-events: none;
    h2 {
      visibility: hidden;
      transition: all .3s ease;
      color: white;
      font-family: "mon600";
      font-size: 60px;
      opacity: 0.8;
      pointer-events: none;
    }
  }
}

.frame {
  position: absolute;
  height: 91vh;
  width: 95%;
  border: 5px solid rgb(46, 42, 47);
  pointer-events: none;
}

#ios-project {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
}

#ios-project::-webkit-scrollbar {
  visibility: hidden;
}

.ios-img-div {
  margin: 0 23vh;
  position: relative;
  z-index: 1;
  div {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkGray;
    border-radius: 1%;
    transition: all .3s ease;
    .ios-img {
      width: 180px;
      scroll-snap-align: center;
      pointer-events: none;
    }
  }
  a {
    text-decoration: none;
  }
}

.bmi {
  margin: 0 21.3vh 0 24.7vh;
}

.cover-work {
  height: 780px;
  width: 700px;
  position: absolute;
  pointer-events: none;
  transition: all .3s ease;
  z-index: 2;
  .cover-heading {
    position: absolute;
    color: white;
    opacity: 0.9;
    font-family: "mon600";
    font-size: 70px;
    top: 10px;
  }
  h1 {
    text-align: left;
    font-size: 170px;
    padding-left: 490px;
    padding-top: 20px;
    margin: 0;
    font-family: "mon600";
    z-index: 2;
    letter-spacing: -10px;
    color: white;
    height: 211px;
    opacity: 0.9;
    transition: all .3s ease;
  }
  h2 {
    margin: 0;
    font-family: "mon500";
    font-size: 24px;
    color: white;
    opacity: 0.9;
    margin-left: 30px;
  }
  span {
    transform: rotate(-90deg);
    color: white;
    fill: white;
    opacity: 0.9;
    h3 {
      transform: rotate(-90deg);
      display: inline-block;
      margin-top: 135px;
      margin-left: 0px;
      font-family: "mon400";
      svg {
        opacity: 0.8;
      }
    }
  }
}

.bmi {
  padding-left: calc(50vw - 250px - 25vh);
}

.quiz {
  padding-right: calc(50vw - 250px);
}

//-------> media

@media screen and (max-width: 950px) {
  #work {
    padding-top: 0;
    margin-bottom: 0vh;
  }

  .work-heading {
    height: 25vh;
    justify-content: center !important;
    position: absolute;
    transform: rotate(0deg) !important;
    left: auto !important;
    align-items: center;
    top: 102vh !important;
    h2 {
      font-size: 64px !important;
      margin: 0 !important;
      font-family: "mon600" !important;
      visibility: visible !important;
    }
  }

  #ios-project {
    display: flex;
    align-items: flex-end;
  }
  .frame {
    width: 93%;
  }
  .ios-img-div {
    margin: 0 9% 50px 9%;
    div {
      width: 450px;
      height: 60vh;
      .ios-img {
        width: 140px;
      }
    }
  }
  .cover-work {
    height: 480px;
    width: 560px;
    .cover-heading {
      display: none !important;
    }
    h1 {
      font-size: 150px;
      margin: 0;
      letter-spacing: -10px;
      height: 211px;
      margin-top: 20px;
      padding-left: 410px;
      padding-top: 0;
    }
    h2 {
      margin: 0;
      font-size: 19px;
      margin-left: 0px;
      font-family: "mon400";
    }
    span {
      h3 {
        margin-top: 105px;
        margin-left: -15px;
        font-size: 16px;
        font-weight: 200;
      }
    }
  }
  .bmi {
    margin-left: 0 !important;
    padding-left: calc(50vw - 225px);
  }
  .quiz {
    padding-right: calc(50vw - 225px);
  }
}
@media screen and (max-width: 830px) {
  .work-heading {
    height: 25vh;
  }
  .frame {
    width: 92%;
  }
  .ios-img-div {
    margin: 0 8% 50px 8%;
    margin-bottom: 50px;
    div {
      width: 400px;
      height: 400px;
      .ios-img {
        width: 130px;
      }
    }
  }
  .cover-work {
    height: 400px;
    width: 500px;
    h1 {
      font-size: 130px;
      margin: 16px 0px 0 0;
      height: 200px;
      padding-left: 370px;
    }
    h2 {
      margin: 0;
      font-size: 16px;
      margin-left: 3px;
    }
    span {
      h3 {
        margin-top: 90px;
        margin-left: -10px;
        font-size: 13px;
        font-weight: 200;
        svg {
          width: 50px;
          margin-right: 10px;
          margin-top: 5px;
        }
      }
    }
  }
  .bmi {
    padding-left: calc(50vw - 200px);
  }
  .quiz {
    padding-right: calc(50vw - 200px);
  }
}

@media screen and (max-width: 750px) {
  .work-heading {
    height: 26vh;
  }

  .frame {
    width: 90%;
  }
  .ios-img-div {
    margin: 0 7% 50px 7%;
    div {
      width: 390px;
      height: 420px;
      .ios-img {
        width: 120px;
      }
    }
  }
  .cover-work {
    height: 430px;
    width: 450px;
    h1 {
      font-size: 110px;
      height: 150px;
      margin-right: -29px;
      padding-left: 355px;
    }
  }
  .bmi {
    padding-left: calc(50vw - 175px);
  }
  .quiz {
    padding-right: calc(50vw - 175px);
  }
}

@media screen and (max-width: 600px) {
  .work-heading {
    height: 28vh;
    top: 105vh !important;
  }

  .frame {
    width: 90%;
  }
  .ios-img-div {
    margin: 0 6.5% 50px 6.5%;
    margin-bottom: 50px;
    div {
      width: 300px;
      height: 350px;
    }
  }
  .cover-work {
    height: 370px;
    width: 400px;
    h1 {
      height: 150px;
      margin-top: 55px;
      margin-right: 15px;
      padding-left: 285px;
    }
  }
  .bmi {
    padding-left: calc(50vw - 150px);
  }
  .quiz {
    padding-right: calc(50vw - 150px);
  }
}

@media screen and (max-width: 500px) {
  .work-heading {
    height: 28vh;
    top: 109vh !important;
  }

  .frame {
    width: 90%;
  }
  .ios-img-div {
    margin: 0 5.5% 50px 5.5%;
    margin-bottom: 50px;
    div {
      width: 250px;
      height: 300px;
      .ios-img {
        width: 100px;
      }
    }
  }
  .cover-work {
    height: 250px;
    width: 350px;
    h1 {
      height: 150px;
      margin-right: 20px;
      margin-top: 40px;
      font-size: 90px;
      padding-left: 245px;
    }
  }
  .bmi {
    padding-left: calc(50vw - 125px);
  }
  .quiz {
    padding-right: calc(50vw - 125px);
  }
}
