html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* -ms-overflow-style: none; */
  background-color: rgb(67, 67, 67);
  border-bottom-width: none;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  display: none;
}
