html {
  scroll-behavior: initial;
}

body {
  margin: 0;
  /* -ms-overflow-style: none; */
  background-color: rgb(66, 64, 67);
  border-bottom-width: none;
  -webkit-overflow-scrolling: touch;
  cursor: none;
}

button {
  cursor: none;
}

a {
  cursor: none;
}

input {
  cursor: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* @media screen and (max-width: 820px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */
